{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "printWidth": 200,
  "tabWidth": 2,
  "tabs": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
