{
  "minify": true, // 是否开启压缩
  "jsc": {
    "parser": {
      "syntax": "typescript", // 除了typescript,还支持ecmascript
      "tsx": true, // 是否解析tsx，对应插件 @babel/plugin-transform-react-tsx
      "dynamicImport": true, // 是否支持动态导入，对应插件 @babel/plugin-syntax-dynamic-import
      "privateMethod": false,
      "functionBind": false,
      "exportDefaultFrom": false,
      "exportNamespaceFrom": false,
      "decorators": true, // 是否支持装饰器，对应插件 @babel/plugin-syntax-decorators
      "topLevelAwait": false,
      "importMeta": false
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es5",
    "loose": true,
    "externalHelpers": true,
    // Requires v1.2.50 or upper and requires target to be es2016 or upper.
    "keepClassNames": false
  },
  "env": {
    // 编译结果相关配置
    "targets": {
      // 编译结果需要适配的浏览器
      "ie": "11" // 只兼容到 ie 11
    },
    "corejs": "3" // corejs 的版本
  }
}
